.panel-body{
margin-top: 80px;
width: 400px;
}

#myLeftAnchor{
    text-align: center;

}

#myRightAnchor{
    background-color: #F8F8FF;
}

#wrap{
    word-wrap: break-word;
}

h6{
    color:#6666ff;
}

#mydata{
    color: #333333;
}

#tit{
    margin-top: 90px;
    text-align: center;
    text-transform: uppercase;
    color:#A52A2A;
}

#desc{
    margin-top: 90px;
    text-align: center;
    color:#9400D3;
}
#gmail{
    color:#0A27DE;
}
#mail{
    color:#DE0A17;
}
table{
    border-width: "2px";
}
