.panel-body{
margin-top: 80px;
width: 400px;
}
.active{
    color:red;
}

#iframe-message{
     display: block;
     width: 100%;
     height: 50%;
     border: none;
     overflow-y: auto;
     overflow-x: hidden;
}

#tableID{
    color:#FF1493;
}

#fromTo{
    color:#FF1493;
}

#myLeftAnchor{
    text-align: center;
}

#composeAnchor{
    color: white;
}

#spanColor{
    color: #00134d;
}

#rules{
    resize: both;
    width: 500px;
    overflow: auto;
    border: 1px solid;
    padding: 10px;
    float:  none;
    margin-left: 60px;
}

#myRightAnchor{
    background-color: #F8F8FF;
}

#wrap{
    word-wrap: break-word;
}

h6{
    color:#6666ff;
}

#mydata{
    color: #333333;
}

#tit{
    margin-top: 90px;
    text-align: center;
    text-transform: uppercase;
    color:#A52A2A;
}

#desc{
    margin-top: 90px;
    text-align: center;
    color:#9400D3;
}

#gmail{
    color:#0A27DE;
}

#mail{
    color:#DE0A17;
}
table{
    border-width: "2px";
}
